<!DOCTYPE html>
<html>
  <head>
    <title>Administrador</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- BOXUSAGE -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>

    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- font-family: 'Poppins', sans-serif; -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>