<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <main>
        <section id="login" class="login">
            <form action="/admin/login" method="post">
                <h1>Login</h1>
                <div class="caja-input">
                    <input type="text" placeholder="Usuario" id="inputUser" name="usuario">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="caja-input">
                    <input type="password" placeholder="Contraseña" name="password" id="inputPassword">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="boton">Login</button>
            </form>
            {{#if error}}
            <p>Usuario y/o contraseña incorrectos</p>
            {{/if}}
        </section>
    </main>
</body>

</html>