.main-princesas {
    margin-top: -50px;
    padding: 0;
}

.portada-princesa {
    width: 100%;
    margin-top: 50px;
}

.guardianes-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.texto-guardianes {
    width: 45%;
    text-align: left;
    margin-left: 90px;
    margin-right: 20px;
}

.texto-guardianes h1 {
    font-family: 'mickey';
    font-weight: 800;
    font-size: 34px;
    color: #ffffff;
    padding: 0;
    text-align: left;
}

.texto-guardianes p {
    font-size: 15px;
    color: #ffffff;
}

.guardianes-img img {
    width: 690px;
    height: 590px;
    margin: 0;
    object-fit: cover;
}

.primer-marvel {
    background-color: #A60108;
    margin-top: -5px;
}

.primer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spiderman-img {
    width: 100%;
}

.spiderman-img img {
    width: 650px;
    height: 500px;
    object-fit: cover;
}

.texto2 {
    text-align: right;
    margin-right: 90px;
    margin-left: 0px;
}

.texto2 p {
    font-size: 15px;
    color: #ffffff;
}

.texto2 h3 {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;

}

.texto2 h1 {
    font-family: 'mickey';
    font-weight: 800;
    font-size: 34px;
    color: #ffffff;
    padding: 0;
    text-align: right;
}

.galeria-marvel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #659235;
    margin-top: -5px;
}

.gale-img {
    width: 30%;
    height: 600px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.gale-img img {
    width: 450px;
    height: 550px;
    margin-left: 5px;
}

.galeria2 {
    margin: 60px;
    padding: 0;
    width: 60%;
}

.renglon-gale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.galeria2 img {
    width: 250px;
    height: 350px;
}